.layout {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
}
.welcome {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: #4786c8;
    color: #fff;
}
.logo {
    width: 250px;
}
.title {
    margin-top: 20px;
    font: 600 32px 'Open Sans', sans-serif;
}
.menu {
    background: #fff;
    text-align: center;
}
.menuLink {
    display: inline-block;
    padding: 16px 24px;
    color: #333;
    line-height: 18px;
    font: 600 16px 'Open Sans', sans-serif;
    text-decoration: none;
    transition: all .15s ease-in-out;
}
.menuLinkActive {
    padding-bottom: 13px;
    border-bottom: 3px solid #4786c8;
}
.main {
    margin: 32px 0;
    font-size: 16px;
    text-align: center;
}
.content {
    box-sizing: border-box;
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}
.footer {
    padding: 20px 0;
    background: #fff;
    color: #8d8d8d;
}