@import "./colors";


.before, .after {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.before {
    margin-right: 12px;
}
.after {
    margin-left: 12px;
}
.link {
    position: relative;
    display: inline;
    font: 400 14px "Open Sans", sans-serif;
    color: $blue;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: $deepBlue;
        text-decoration: underline;
    }
    &--pseudo {
        .text {
            border-bottom: 1px dashed currentColor;
        }
        &:hover {
            text-decoration: none;
            .text {
                border: 0;
            }
        }
        .before {
            margin-right: 4px;
        }
        .after {
            margin-left: 4px;
        }
    }
}