.src-link__before--3NBiR, .src-link__after--_STNb {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }

.src-link__before--3NBiR {
  margin-right: 12px; }

.src-link__after--_STNb {
  margin-left: 12px; }

.src-link__link--3mwwd {
  position: relative;
  display: inline;
  font: 400 14px "Open Sans", sans-serif;
  color: #4786c8;
  cursor: pointer;
  text-decoration: none; }
  .src-link__link--3mwwd:hover {
    color: #316aa5;
    text-decoration: underline; }
  .src-link__link--pseudo--2RPFR .src-link__text--2KsdE {
    border-bottom: 1px dashed currentColor; }
  .src-link__link--pseudo--2RPFR:hover {
    text-decoration: none; }
    .src-link__link--pseudo--2RPFR:hover .src-link__text--2KsdE {
      border: 0; }
  .src-link__link--pseudo--2RPFR .src-link__before--3NBiR {
    margin-right: 4px; }
  .src-link__link--pseudo--2RPFR .src-link__after--_STNb {
    margin-left: 4px; }
