@import "./colors";
@import "./dimensions";


$MIN_GUTTER: 12;
$MAX_GUTTER: 48;


@mixin fill($button, $color, $activeColor) {
    background-color: $color;
    &:hover, &:active {
        color: $white;
        background-color: $activeColor;
    }
}
@mixin contrast($button, $color, $activeColor) {
    color: $color;
    background-color: #fff;
    &:hover, &:active {
        color: $activeColor;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
}
@mixin hollow($button, $color, $activeColor) {
    padding: 11px;
    color: $color;
    border: 1px solid $color;
    background-color: transparent;
    &:hover, &:active {
        color: $activeColor;
        border-color: $activeColor;
    }
}


.button {
    $button: &;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: $pale;
    border: 0;
    border-radius: $radius;
    cursor: pointer;
    outline: none;
    transition:
            background-color .12s linear,
            color .12s linear,
            box-shadow .2s linear,
            border-color .12s linear;
    &__before, &__after {
        z-index: 200;
        position: relative;
        display: inline-block;
        top: -1px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        vertical-align: middle;
        & > * {
            max-width: 16px;
            max-height: 16px;
        }
    }
    &__text {
        z-index: 200;
        position: relative;
        display: inline-block;
        padding: 0 2px;
    }
    &__before + &__text, &__text + &__after {
        margin-left: 10px;
    }
    &--green {
        @include fill($button, $green, $deepGreen);
    }
    &--blue {
        @include fill($button, $blue, $deepBlue);
    }
    &--red {
        @include fill($button, $red, $deepRed);
    }
    &--gold {
        @include fill($button, $gold, $deepGold);
    }
    &--gray {
        @include fill($button, #c6c6c6, $gray);
    }
    &[disabled] {
        color: $gray;
        background-color: $pale;
        cursor: not-allowed;
        pointer-events: none;
    }
    &--contrast {
        &#{$button}--green {
            @include contrast($button, $green, $deepGreen);
        }
        &#{$button}--blue {
            @include contrast($button, $blue, $deepBlue);
        }
        &#{$button}--red {
            @include contrast($button, $red, $deepRed);
        }
        &#{$button}--gold {
            @include contrast($button, $gold, $deepGold);
        }
        &#{$button}--gray {
            @include contrast($button, #c6c6c6, $gray);
        }
        &[disabled] {
            @include contrast($button, $pale, $pale);
        }
    }
    &--hollow {
        &#{$button}--green {
            @include hollow($button, $green, $deepGreen);
        }
        &#{$button}--blue {
            @include hollow($button, $blue, $deepBlue);
        }
        &#{$button}--red {
            @include hollow($button, $red, $deepRed);
        }
        &#{$button}--gold {
            @include hollow($button, $gold, $deepGold);
        }
        &#{$button}--gray {
            @include hollow($button, #c6c6c6, $gray);
        }
        &[disabled] {
            @include hollow($button, $pale, $pale);
        }
    }
    &--info {
        padding: 11px 45px;
        color: $blue;
        border: 1px solid $pale;
        background-color: #fff;
        font-weight: 400;
        &:hover, &:active {
            color: $deepBlue;
        }
    }
    &--secondary {
        padding: 12px;
        text-transform: none;
    }
    $gutter: $MIN_GUTTER;
    @while $gutter <= $MAX_GUTTER {
        &--sideGutter#{$gutter} {
            padding: 12px #{$gutter}px;
        }
        $gutter: $gutter + 4;
    }
    &--hasBefore {
        padding-left: 12px;
        padding-right: 12px;
    }
    &--hasAfter {
        padding-left: 12px;
        padding-right: 12px;
    }
}
