$white     : #ffffff;
$black     : #000000;
$red       : #e95454;
$gold      : #f6be4e;
$green     : #a2c679;
$blue      : #4786c8;
$coal      : #333333;
$gray      : #8d8d8d;
$pale      : #e1e1e1;
$silver    : #ececec;
$zircon    : #f5f5f5;

$bgIconColor: #ffffff;

$deepGreen : darken($green, 11%);
$deepBlue  : darken($blue, 11%);
$deepRed   : darken($red, 11%);
$deepGold  : darken($gold, 11%);
$deepGray  : darken($gray, 11%);

$lightGreen: lighten($green, 30%);
$lightBlue : lighten($blue, 30%);
$lightRed  : lighten($red, 30%);
$lightGold : lighten($gold, 30%);
$lightGray : lighten($gray, 30%);