@import "~normalize.css/normalize.css";


html, body {
    width: 100%;
    height: 100%;
    font: 400 14px 'Open Sans', sans-serif;
    background: #ececec;
    color: #333;
}
:global #root {
    height: 100%;
}